html {
  margin: 0;
  padding: 0;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#sketch-holder-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}