html, body {
  border: 0;
}

canvas {
  border: 1px solid black;
}

canvas:hover {
  border: 1px solid #86cce4;
}

button {
  margin: 0.5em;
}

button:hover {
  background-color: rgb(141, 139, 161);
  color: white;
}

.footer {
  text-align: center;
  padding-top: 0.5em;
  bottom: 0;
  left: 0;
}

#sketch-holder-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats {
  top: 0;
  left: 0;
  padding: 0.5em;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

#header {
  position: absolute;
  top: 0;
  margin-top: 0;
  right: 5%;
  height: 1%;
  text-align: center;
	text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif;
	padding-bottom: 0;
}

hr{
  margin-top: -4%;
  width: 90%;
  right: 5%;
  position: absolute;
  border-bottom: .8% solid #4c38a5;
}

#plane-details{
  top: 0;
  margin-top: 0;
  margin-left: 5%;
  left: 10%;
  height: 1%;
  text-align: left;
  text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 1%;
  padding-top: 1%;
}