html, body {
  border: 0;
}

canvas {
  border: 1px solid black;
}

canvas:hover {
  border: 1px solid #86cce4;
}

button {
  margin: 0.5em;
}

button:hover {
  background-color: rgb(141, 139, 161);
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#sketch-holder-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}